@import '../../../styles/settings.scss';

.messageComponent form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 $base-size;
  margin-top: $base-size * 2;

  .inputWrapper {
    display: inline-block;
    flex-basis: 49%;
    margin-bottom: $base-size * 2;
  }

  .inputWrapper:last-of-type {
    flex-basis: 100%;
  }

  input,
  textarea {
    width: 100%;
    color: $color-dark;
    font-size: $base-size * 2;
    outline: none;
    border: none;
    border-bottom: 2px solid $color-dark;
    transition: $transition;

    &:focus {
      border-bottom: 2px solid $color-details;
      background-color: bisque;
    }
  }

  input {
    line-height: $base-size * 3;
  }

  textarea {
    font-family: $font-text;
  }

  small {
    color: $color-warning;
  }

  button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: $base-size 0;
    padding: $base-size * 0.5 $base-size * 2;
    color: $color-dark;
    font-size: $base-size * 2;
    border: 2px solid $color-dark;
    border-radius: $radius;
    background-color: $color-details;

    &:hover {
      color: $color-details;
      border-color: $color-details;
      background-color: $color-dark;
    }
  }
}

@media (max-width: 650px) {
  .messageComponent form {
    .inputWrapper {
      flex-basis: 100%;
      margin: 0 0 $base-size * 2 0;
    }
  }
}
