@import '../../../styles/settings.scss';

.messageComponent {
  display: flex;
  justify-content: center;
  padding: 0 $base-size;

  .inputWrapper {
    display: inline-block;
    width: 100%;
    margin-bottom: $base-size * 2;
  }

  .inputWrapper:first-of-type {
    margin-top: $base-size;
  }

  input,
  textarea {
    width: 100%;
    color: $color-dark;
    font-size: $base-size * 2;
    border: none;
    border-bottom: 2px solid $color-dark;
    transition: 0.5s;
    outline: none;

    &:focus {
      border-bottom: 2px solid $color-details;
      background-color: bisque;
    }
  }

  input {
    line-height: $base-size * 3;
  }

  textarea {
    font-family: $font-text;
  }

  small {
    display: inline-block;
    color: $color-warning;
    width: 100%;
  }

  button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: $base-size 0;
    padding: $base-size * 0.5 $base-size * 2;
    color: $color-dark;
    font-size: $base-size * 2;
    border: 2px solid $color-dark;
    border-radius: $base-size * 2;
    background-color: $color-details;
    transition: 0.5s;

    &:hover {
      color: $color-details;
      border-color: $color-details;
      background-color: $color-dark;
    }
  }
}
