@import '../../../styles/global.scss';
@import '../../../styles/settings.scss';

.footer {
  position: relative;
  bottom: 0;
  background-color: $color-dark;
  height: 10vh;
  z-index: 2;
}

.footerWrapper {
  @include center;
  text-align: center;
  width: 100%;
}

.footerLogo {
  font-size: 35px;
  width: 100%;
}
.footerLogoText {
  font-size: 12px;
  width: 100%;
}
