@import '../../../styles/settings.scss';

.bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  z-index: 2;
  background-color: $color-dark;
}

.nav {
  position: absolute;
  right: 0;
  padding: 10px 0;
}

.link {
  position: relative;
  text-decoration: none;
  margin: 10px 20px 0 0;
  font-size: 20px;
  color: $color-details;
  overflow: hidden;
  border-top: 2px solid $color-details;
}

.link::before {
  content: '';
  position: absolute;
  display: block;
  top: -2px;
  left: 0;
  z-index: 3;
  width: 100%;
  background-color: $color-dark;
  height: 2px;
}

.link::after {
  content: '';
  position: absolute;
  display: block;
  bottom: -2px;
  left: 0;
  z-index: 3;
  width: 0;
  background-color: $color-details;
  height: 2px;
}

.link:hover::before {
  width: 0;
  transition: 0.5s;
}

.link:hover::after {
  width: 100%;
  transition: 0.5s;
}

// @media (max-width: 700px) {
//   .bar {
//     display: flex;
//     flex-wrap: wrap;
//   }

//   .nav {
//     flex-basis: 50%;
//     display: flex;
//     flex-wrap: wrap;
//   }

//   .link {
//     width: 100%;
//   }
// }

// .link:hover {
//   border-bottom: 2px solid $color-details;
// }
