@import '../../../styles/settings.scss';

.bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  z-index: 2;
  background-color: $color-dark;
}

.nav {
  position: absolute;
  right: 0;
  padding: 10px 0;
}

.link {
  position: relative;
  text-decoration: none;
  margin: 10px 20px 0 0;
  font-size: 20px;
  color: $color-details;
  overflow: hidden;
  border-top: 2px solid $color-details;
}

.link::before {
  content: '';
  position: absolute;
  display: block;
  top: -2px;
  left: 0;
  z-index: 3;
  width: 100%;
  background-color: $color-dark;
  height: 2px;
}

.link::after {
  content: '';
  position: absolute;
  display: block;
  bottom: -2px;
  left: 0;
  z-index: 3;
  width: 0;
  background-color: $color-details;
  height: 2px;
}

.link:hover::before {
  width: 0;
  transition: 0.5s;
}

.link:hover::after {
  width: 100%;
  transition: 0.5s;
}

#hamburger {
  display: none;
}

.hamburgerButtonContainer {
  display: none;
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.hamburgerButton,
.hamburgerButton::before,
.hamburgerButton::after {
  @include center;
  display: block;
  background-color: $color-details;
  height: 4px;
  width: 100%;
}

.hamburgerButton::before {
  content: '';
  margin-top: -12px;
}

.hamburgerButton::after {
  content: '';
  margin-top: 12px;
}

@media (max-width: 700px) {
  .link::before,
  .link::after {
    display: none;
  }

  .nav {
    position: relative;
  }

  #hamburger {
    display: none;
  }

  .hamburgerButtonContainer {
    display: block;
    position: absolute;
    right: 0;
    z-index: 5;
  }

  #hamburger ~ .nav .link {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
  }

  #hamburger:checked ~ .nav {
    margin-top: 30px;
  }

  #hamburger:checked ~ .nav .link {
    border: 1px solid $color-details;
    height: 30px;
  }

  .nav > .link {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    background-color: $color-dark;
  }
}
