@import '../../../styles/settings.scss';

.container {
  margin: 0 auto;
  max-width: 1100px;
}

//splash
.splash {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left 20%;
  filter: contrast(80%) brightness(50%) blur(1px);
}

.splashContainer {
  height: 100vh;
}

.titleWrapper {
  @include center;
  padding: 50px;
  text-align: center;
  width: 75%;
  backdrop-filter: blur(2px);
  border-radius: 200px;
}

.title {
  font-size: 100px;
}

.subTitle {
  text-transform: uppercase;
}

//areas section
.animationWrapper {
  display: flex;
  margin-top: 30px;
  box-shadow: -5px -5px 0 white, 5px 0 0 white, 0 2px 1px gray;

  p {
    margin: 10px 0 10px 50px;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;

    p {
      margin-right: 50px;
      text-align: right;
    }
  }
}

.animation {
  max-width: 300px;
  object-fit: cover;
  // box-shadow: 2px 2px 5px $color-main, -2px -2px 5px $color-main;
}

.animationDescription {
  display: flex;
  font-size: 20px;
  margin: 10px;
  flex-direction: column;
  justify-content: center;

  & p:first-of-type {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
  }
}

@media (max-width: 1000px) {
  //splash
  .splash {
    object-position: 70% top;
  }

  .subTitle {
    margin-top: 15px;
  }
}

@media (max-width: 650px) {
  //splash
  .splash {
    object-position: 60% top;
  }

  .titleWrapper {
    padding: 20px;
    width: 100%;
  }

  .title {
    font-size: 80px;
  }

  //areas section
  .animationWrapper {
    flex-direction: column;
    align-items: center;

    p {
      margin: 0;
      text-align: center;
    }

    &:nth-child(even) {
      flex-direction: column;

      p {
        margin: 0;
        text-align: center;
      }
    }
  }

  .animation {
    max-width: 250px;
  }
}
