@import '../../../styles/settings.scss';

.container {
  margin: 0 auto;
  max-width: 1200px;
  background-color: aquamarine;
}

.splash {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left 20%;
  filter: contrast(80%) brightness(50%) blur(1px);
}

.animationWrapper {
  display: flex;
}

.animation {
  max-width: 400px;
  object-fit: cover;
}

.animationDescription {
  display: flex;
  font-size: 30px;
  margin: 30px;
  flex-direction: column;
  justify-content: center;

  & p:first-of-type {
    font-weight: 700;
    text-transform: uppercase;
  }
}

video {
  width: 100%;
  height: auto;
}

.splashContainer {
  height: 100vh;
}

.titleWrapper {
  @include center;
  padding: 50px;
  text-align: center;
  width: 75%;
  backdrop-filter: blur(2px);
  border-radius: 200px;
}

.title {
  font-size: 100px;
}

.subTitle {
  text-transform: uppercase;
}

@media (max-width: 1000px) {
  .splash {
    object-position: 70% top;
  }

  .subTitle {
    margin-top: 15px;
  }
}

@media (max-width: 650px) {
  .splash {
    object-position: 60% top;
  }

  .titleWrapper {
    padding: 20px;
    width: 100%;
  }

  .title {
    font-size: 80px;
  }
}
