@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';

.homeComponent {
  min-height: 90vh;
  padding-top: 5vh;

  //splash
  .splash {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left 20%;
    filter: contrast(80%) brightness(50%) blur(1px);
  }

  .splashContainer {
    height: 100vh;
    position: relative;
  }

  .titleWrapper {
    @include center;
    padding: $base-size * 4;
    text-align: center;
    width: 75%;
    backdrop-filter: blur(2px);
    border-radius: $radius * 40;
  }

  .title {
    font-size: $base-size * 9;
  }

  .subTitle {
    text-transform: uppercase;
  }

  //areas section
  .workAreas h2 {
    font-size: $base-size * 4;
    text-align: center;
    text-transform: uppercase;
    margin: $base-size * 5 0 $base-size * 1.8 0;
    text-shadow: none;
    color: $color-dark;
  }

  .workAreasWrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .animationWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    margin-top: $base-size * 5;

    p {
      margin: $base-size 0 0 0;
    }
  }

  .animation {
    max-width: 300px;
    object-fit: cover;
  }

  .animationDescription {
    display: flex;
    font-size: $base-size * 1.5;
    margin: $base-size;
    flex-direction: column;
    justify-content: center;

    & p:first-of-type {
      font-weight: 700;
      font-size: $base-size * 2.5;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 1000px) {
  .homeComponent {
    //splash
    .splash {
      object-position: 70% top;
    }

    .subTitle {
      margin-top: $base-size;
    }
  }
}

@media (max-width: 650px) {
  .homeComponent {
    //splash
    .splash {
      object-position: 60% top;
    }

    .titleWrapper {
      padding: $base-size;
      width: 100%;
    }

    .title {
      font-size: $base-size * 6.5;
    }

    //areas section
    .animationWrapper {
      flex-direction: column;
      align-items: center;
      width: 100%;

      p {
        margin: 0;
        text-align: center;
      }

      &:nth-child(even) {
        flex-direction: column;

        p {
          margin: 0;
          text-align: center;
        }
      }
    }

    .animation {
      max-width: 250px;
    }
  }
}
