@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';

.informationComponent {
  min-height: 90vh;
  padding-top: 5vh;

  .informationWrapper {
    padding: 0 $base-size;
    text-align: justify;
    text-justify: inter-character;
    font-size: $base-size * 1.5;

    h3 {
      margin-bottom: 0;
      text-align: left;
      text-decoration: underline;
      text-decoration-color: $color-details;
      text-decoration-thickness: 3px;
    }

    & li {
      text-align: left;
      margin: $base-size;
    }
  }
}

@media (max-width: 650px) {
  .informationComponent {
    .informationWrapper {
      text-align: center;
      font-size: $base-size * 1.2;

      & h3 {
        text-align: center;
      }

      & ul {
        padding-left: 0;
      }

      & li {
        list-style: none;
        text-align: center;
      }
    }
  }
}
