@import './settings.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  background: $color-dark;
  font-family: $font-text;
  font-size: ($base-size * 1.1);
  color: $color-light;
  letter-spacing: 0.5px;
}

h1,
h2 {
  text-shadow: 0 0 5px maroon;
  margin: 0;
  color: $color-details;
}

h1 {
  font-family: $font-header;
}

a {
  color: $color-light;
}

// :global(.container) {
//   width: 90%;
//   max-width: 1400px;
//   margin: 0 auto;
// }
