$color-light: #fff;
$color-gray: #aaa;
$color-dark: #2f3542;
$color-black: black;
$color-main: #327da1;
// $color-details: #ffa946;
$color-details: #ffa946;
$color-success: #26de81;
$color-warning: #e1644e;

$font-text: 'Roboto', sans-serif;
$font-header: 'Playfair Display', serif;

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
